:root{
    --primary-color:#e50914;
    --dark-color:#141414;
    --light-color:#f4f4f4;
}

*{
    margin:0;
    padding: 0;
}

body{
    /*font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    background: #000000;
    color:#999999;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
    color:#ffffff;
}

h3{
    font-weight: lighter;
}

a{
    color:rgb(245, 238, 238);
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
    /*font-weight: bold;*/
    color: #ffffff;
}

img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(bg-upper.jpg) no-repeat center center/cover;
}

.showcase::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    box-shadow: 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase.top{
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img{
    width: 140px;
    position: absolute;
    top:50px;
    left:0;
    transform: translate(40%, -50%);
}

.showcase-top a{
    position: absolute;
    top: 49.25px;
    right: 0;
    transform: translate(-60%, -50%); 
}

.showcase-content{
    position: relative;
    margin: 0 26%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 15rem;
}
.showcase-content h1{
    font-weight: 700;
    font-size: 64px;
    margin: 0 10px;
    max-width: 900px;
    line-height: 74.5px;
    
}

.showcase-content h3{
    color: white;
    font-size: 25px;
    margin: 16px 0;
}

.showcase-content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 1.8rem;
}

.showcase-content input{
    position: absolute;
    left: 0;
    bottom: -8vh;
    width: 454px;
    height: 70px;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.btn{
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding:0.5rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 5px 3px rgba(0,0,0,0.45);
}

.btn:hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 5px;
}

.showcase-content .btn-lg{
    position: absolute;
    right: 0;
    bottom:-8vh;
    padding: 0.5rem 1.21rem;
    font-size:1.5rem;
    height: 58px;
    width: 14rem;
    font-size:30px;
    text-align: center;
    /*vertical-align: middle;*/
    line-height:57px;
}


